BEGIN;
--
-- Create model Assignment
--
CREATE TABLE "assignments_assignment" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(255) NOT NULL, "description" text NOT NULL, "subject" varchar(100) NOT NULL, "status" varchar(20) NOT NULL, "created_at" timestamp with time zone NOT NULL, "student_id" bigint NOT NULL);
ALTER TABLE "assignments_assignment" ADD CONSTRAINT "assignments_assignme_student_id_5a1f8791_fk_accounts_" FOREIGN KEY ("student_id") REFERENCES "accounts_student" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "assignments_assignment_student_id_5a1f8791" ON "assignments_assignment" ("student_id");
COMMIT;
